<div class="component container-fluid">
  <div class="row">
    <button class="btn btn-default" data-bind="click:newRelTypeClick"><em class="fa fa-vcard"></em> New Type</button>
    <button class="btn btn-default" data-bind="click:relEditorClick"><em class="fa fa-map-signs"></em> Update Relations</button>
    <button class="btn btn-default" data-bind="click:browseClick"><em class="fa fa-list-alt"></em> Browse</button>
  </div>
  <div>
    <div class="relationshipTyepeEditor panel panel-sucess" data-bind="with:relationTypeEditorModel,visible:(relationTypeEditorModel()?true:false)">
      <h4 class="h4 heading">Define Relationship Type</h4>
      <div class="well well-sm">
        <p>ID <em data-bind="text:relationshipType._id"></em></p>
        <label for="relationName">Name</label> <input type="text" data-bind="value:relationshipType.name" />
        <label for="sourceResourceType">Source</label> <select class="" name="sourceResourceType" data-bind="value:relationshipType.sourceType,optionsText:'name',optionsValue:'id',optionsCaption:'Choose Type...',valueAllowUnset:true,options:listResourceTypes"></select>
        <label for="targetResourceType">Target</label> <select class="" name="targetResourceType" data-bind="value:relationshipType.targetType,optionsText:'name',optionsValue:'id',optionsCaption:'Choose Type...',valueAllowUnset:true,options:listResourceTypes"></select>
        <button class="btn btn-success" data-bind="click:saveClick"><em class="fa fa-check"></em> Save</button>
        <button class="btn btn-warning" data-bind="click:cancelClick"><em class="fa fa-ban"></em> Cancel</button>
      </div>
    </div>
    <div class="relationshipEditor panel" data-bind="with:relationshipEditor, visible:(relationshipEditor()?true:false)">
      <div>
        <div class="text-right">
          <button data-bind="click:cancel" class="btn-warning btn-xs"><em class=" fa fa-ban"></em> cancel</button>
          <button data-bind="click:save" class="btn-success btn-xs"><em class=" fa fa-check"></em> save</button></div>
        <h4 class="h4 heading">Relationship Definition</h4>
        <div class="row">
          <div class="col-sm-3 box">
            <h5 class="h5 heading">Type</h5>
            <select class="" data-bind="value:selectedType,options:relationshipTypeList,optionsText:'key',optionsValue:'doc'" size="6"></select>
          </div>
          <div class="col-sm-3 box">
            <h5 class="h5 heading">Source <em data-bind="text:sourceTypeName"></em></h5>
            <select class="" data-bind="value:relationship.source,options:sourceList,optionsText:'name',optionsValue:'_id'" size="6"></select>
          </div>
          <div class="col-sm-3 box">
            <h5 class="h5 heading">Target <em data-bind="text:targetTypeName"></em></h5>
            <select class="" data-bind="value:relationship.target,options:targetList,optionsText:'name',optionsValue:'_id'" size="6"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="relationshipBrowser panel" data-bind="with:relationshipBrowser, visible:(relationshipBrowser()?true:false)">
      <div>
        <h3 class="heading h3">Relationship Browser</h3>
      </div>
      <div id='browserSearch' data-bind="with:searchCriteria">
        <select class="" data-bind="value:relationshipType,options:$parent.relationshipTypeList,optionsText:'key',optionsValue:'doc',optionsCaption:'Relationship Type',css:{'on':relationshipType()}"></select>
        <label>Source <input class="" name="sourceName" data-bind="value:sourceName" title="Source" /></label>
        <label>Target <input class="" name="targetName" data-bind="value:targetName" title="Target" /></label>
        <button class="btn btn-success" data-bind="click:$parent.searchClick,enable:(relationshipType()||sourceName()||targetName())"><em class="fa fa-search"></em> Search</button>
      </div>
      <div id="browsePanel" data-bind="with:relationshipBag,visible:(relationshipBag()&&relationshipBag().length?true:false)" class="panel row">
        <h3 class="heading h3">Results</h3>
        <div class="well well-sm">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Source</th>
                <th>Relationship</th>
                <th>Target</th>
              </tr>
            </thead>
            <tbody data-bind="foreach:$data">
              <tr data-bind="">
                <td><input type="checkbox" data-bind="value:core.key" /></td>
                <td data-bind="with:source()">
                  <div class="resourceDisplay container-fluid resourceDisplay">
                    <div class="row header">
                      <div class="col-xs-1 col-lg-1 control-box">
                        <button title="expand/collapse" class="btn btn-xs" data-bind="click:$parent.toggleSrcDetailClick"><em data-bind="css:{'fa-chevron-right':(!($parent.srcDetail())), 'fa-chevron-down':($parent.srcDetail())}" class="handle fa "></em>
                        </button>
                      </div>
                      <span class="col-xs-8 col-lg-8" data-bind="text:name"></span>
                      <div class="col-xs-2 col-lg-2 control-box">
                        <button class="btn btn-xs" title="source search" data-bind="click:$parent.doSourceSearch">
                          <em class="fa fa-sign-out"></em>
                        </button>
                        <button class="btn btn-xs" title="target search" data-bind="click:$parent.doTargetSearch">
                          <em class="fa fa-sign-in"></em>
                        </button>
                      </div>
                    </div>
                    <div class="row" data-bind="with:$parent.srcDetail">
                      <div data-bind="foreach:Object.getOwnPropertyNames($data)">
                        <span class="label col-md-4 col-xs-12" data-bind="text:$data"></span>
                        <span class="col-md-8, col-xs-12" data-bind="text:$parent[$data]"></span>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <span data-bind="text:family(core.value.type._id)"></span>
                </td>
                <td data-bind="with:target()">
                  <div class="resourceDisplay container-fluid resourceDisplay">
                    <div class="row header">
                      <div class="col-xs-1 control-box">
                        <button title="expand/collapse" class="btn btn-xs" data-bind="click:$parent.toggleTgtDetailClick"><em data-bind="css:{'fa-chevron-right':(!($parent.tgtDetail())), 'fa-chevron-down':($parent.tgtDetail())}"
                        class="handle fa "></em></button></div>
                      <span class="col-xs-8" data-bind="text:name"></span>
                      <div class="col-xs-2 control-box">
                        <button class="btn btn-xs" title="source search" data-bind="click:$parent.doSourceSearch">
                          <em class="fa fa-sign-out"></em>
                        </button>
                        <button class="btn btn-xs" title="target search" data-bind="click:$parent.doTargetSearch">
                          <em class="fa fa-sign-in"></em>
                        </button>
                        <!--<button title="expand/collapse" class="btn btn-xs" data-bind="click:$parent.toggleTgtDetailClick"><em data-bind="css:{'fa-chevron-left':(!($parent.tgtDetail())), 'fa-chevron-down':($parent.tgtDetail())}"
                        class="handle fa "></em></button>--></div>
                    </div>
                    <div class="row" data-bind="with:$parent.tgtDetail">
                      <div data-bind="foreach:Object.getOwnPropertyNames($data)">
                        <span class="label col-xs-12 col-md-4" data-bind="text:$data"></span>
                        <span class="col-xs-12 col-md-8" data-bind="text:$parent[$data]"></span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
        <!-- <div id="browseGraphic" class="panel panel-sucess">
          <svg width="100%" height="100%"></svg>
        </div> -->
      </div>
    </div>
  </div>
</div>